/*.col-12{
	grid-column: span 12;
}*/
.col-11{
	grid-column: span 11;
}
.col-10{
	grid-column: span 10;
}
.col-9{
	grid-column: span 9;
}
.col-8{
	grid-column: span 8;
}
.col-7{
	grid-column: span 7;
}
.col-6{
	grid-column: span 6;
	
}
.col-5{
	grid-column: span 5;
}
.col-4{
	grid-column: span 4;
}
.col-3{
	grid-column: span 3;
}
.col-2{
	grid-column: span 2;
}
.col-1{
	grid-column: span 1;
}

.col-12{
	grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	grid-gap: 10;
	/*background-color: lightgreen;*/
	/* padding: 10px; */
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.menu{
	background-color: red;
}
.menu6{
	background-color: black;
	color: #ffff;
}
